/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.blink {
    opacity: 0.5;
    animation: blink 1s infinite;
  }

  .kYmhb {
    inset: 0px;
    z-index: 1;
    filter: blur(250.072px);
    position: absolute!important;
    z-index: -1000;
}
  
  @keyframes blink {
    50% {
      opacity: 0.2;
    }
 
  }
